<h1>Stupid Coaching </h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->

<p><%= @message %></p>
<p class="italic_text">- you</p>
<p><%= @answer %></p>
<p class="italic_text">- your coach</p>

<%= link_to "ask a new question", ask_path %>


<!-- Add a link to /ask on the answer.html.erb view using the link_to Rails helper. -->
